h1{color:#62de9c; font-size: 40px; font-family: impact, charcoal, sans-serif;

}

h2{color:#da99ff; font-size: 25px; font-family: impact, charcoal, sans-serif;

}

body{background-color:#d0f5e1;

}

h11{color:#gray; font-size: 15px; font-family: impact, charcoal, sans-serif;

}
